<h1>Products</h1>
 <thead>
<% if @products.empty? %>
<b>No products in the store</b>
<% else %>
<table class="table table-striped">
    <tr>
      <th scope="col">ID:</th>
      <th scope="col">Name:</th>
      <th scope="col">Price:</th>
      <th scope="col">Description:</th>
      </tr>
  </thead>
<% end %>
<% @products.each do |product| %>
  <tbody>
    <tr> 
      
      <td><%= product.id %></td>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.price %> $ </td>
      <td><%= product.description %></td>
    </tr>
    </tbody>
<% end %>
